.registration-form {
    display:flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff3f371;
    padding: 20px;
    width:fit-content;
    border-radius: 20px;
    position: relative;
}

.title {
    font-size: 28px;
    color: #873957;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #873957;
}

.title::before {
    width: 18px;
    height: 18px;
    background-color: #873957;
}

.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.message,
.signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.signin {
    text-align: center;
}

.signin a {
    color: #873957;
}

.signin a:hover {
    text-decoration: underline #873957;
}

.flex {
    display: flex;
    gap: 2rem;
    width: 97%;
}

.submit {
    border: none;
    outline: none;
    background-color: #873957;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}

.submit:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.submit:enabled:hover {
    background-color: #873957af;
    cursor: pointer;
}
